@* We can use OnClick directly also *@
<button @onclick="OnButtonClick" @attributes="AdditionalAttributes">
	@ChildContent
</button>

@code {
	
	[Parameter]
	public RenderFragment ChildContent { get; set; }
	[Parameter]
	public EventCallback<MouseEventArgs> OnClick { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object> AdditionalAttributes { get; set; }

	private Task OnButtonClick(MouseEventArgs e)
	{
		return OnClick.InvokeAsync(e);
	}
}
